.list-control-area{
    display: flex;
    align-items: center;
}
form{
    flex-grow: 1;
    padding-right: 20px;
}

.add-btn-container{
    width: auto;
    display: flex;
    justify-content: end;
    padding-right: 10px;
}


.add-btn-container button{
    margin: 0;
}